
.idea/
.vscode/
bin/*
*.key
*.pem
*.crt
*.csr
*.srl
*.conf
vendor/

# protobuf generated code
*.pb.go
*.twirp.go

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out